name: Gemini Bot Workflow

on:
  schedule:
    - cron: '30 0 * * *'
  workflow_dispatch:

jobs:
  execute-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5 # ဒီနေရာမှာ ambassadors မဟုတ်ဘဲ actions ဖြစ်ရပါမယ်
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -q -U google-generativeai python-telegram-bot

      - name: Run Script
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python main.py
